/* Style sheet for cssExample.html */

boby{
    color:#000000;
    background-color:#ffffff;
    font-family:Arial, Verdana, sans-serif;
}

h1{font-size:18pt;}
p{font-size:12pt;}

table{
    background-color:#efefef;
    border-style:solid;
    border-width:1px;
    border-color:#3399ff;
    width: 5%;
}

th{
    background-color:#cccccc;
    font-weight:bold;
    padding:5px;
}

td{padding:5px;}

td.code{
    font-family:Courier, courier-new; serif;
    font-weight:bold;
}

/*
.perm{
    color:#F5A9BC;
    text-decoration: none;
}
*/
a:link{
    text-decoration:none;
}
a:visited{
    text-decoration:none;
    color:#3399FF;
}
a:link:hover{
    text-decoration:underline;
    color:#993300;
}

body{background: #FFFF99 url(Poldy.png) no-repeat 50% 20% fixed;
}
